<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--xmlns:th="http://www.thymeleaf.org"-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        select{
        width:80px;
        height:100px;
        }
    </style>
</head>
<body>
<a href="board.html" th:href="@{/board/list(bno=${bno}, type='L')}">aaa</a>
<!--왠만하면 each를 이용하여 반복수행문을 작성하되, 화면에 출력되지 않는 경우 block 태그를 사용한다. -->
<th:block th:each="opt:${list}">
    <input type="checkbox" th:value="${opt}">[[${opt}]]<br>
</th:block>
<!--multiple은 select를 펼쳐서 보여주게 하는 역할.-->
<select name="" id="" multiple>
    <option th:each="opt:${list}" th:value="${opt}">[[${opt}]]</option>
</select>
<table border="1px">
    <tr th:each="item : ${list}">
        <td th:text="${item}"></td>
    </tr>
    <tr th:unless="${list.size()}==0">
        <td>게시물이 없습니다.</td>
    </tr>
</table>
<h1 th:text="${lastName}">lastName</h1>
<h1>[[${firstName}]]</h1>
<h1 th:text="'My name is '+${lastName}+', '+${firstName}">My name is lastName, firstName</h1>
<h1 th:text="|My name is ${lastName}, ${firstName}|">My name is lastName, firstName</h1>
<span th:text="${'<i>Namkung, Seong</i>'}"></span>
<span th:utext="${'<i>Namkung, Seong</i>'}"></span>
</body>
</html>